GO_ENV=production

# Comma-separated hosts (edit this file in Git to change defaults)
HOSTS=actiontarget.com,google.com,facebook.com,openai.com,cloudflare.com,github.com,\
linkedin.com,youtube.com,stackoverflow.com,netflix.com,zoom.us,\
oracle.com,intel.com,tesla.com,airbnb.com,reddit.com,\
spotify.com,discord.com,slack.com,docker.com,kubernetes.io,\
ubuntu.com,debian.org,heroku.com,aws.amazon.com,azure.microsoft.com,\
cloud.google.com,wikipedia.org,nytimes.com,cnn.com,reuters.com,\
bbc.com,weather.com,timeanddate.com,accuweather.com,\
whitehouse.gov,usa.gov,nasa.gov,nih.gov,nps.gov,\
irs.gov,fbi.gov,dhs.gov,cdc.gov

# Backend options
PORT=80
INTERVAL=5s
WSPORT=:9090
