[Unit]
Description=Host Monitoring Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=hostmonitor
Group=hostmonitor

ExecStart=/opt/host-monitor/backend/scripts/ping-many.sh
WorkingDirectory=/opt/host-monitor/backend/scripts/

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

NoNewPrivileges=true
ProtectSystem=full
ProtectHome=true
PrivateTmp=true
RestrictAddressFamilies=AF_INET AF_INET6
LockPersonality=true

[Install]
WantedBy=multi-user.target
